In [2]:
ord('a')

97

In [4]:
txt = 'this is a book.'
s = 0
for word in range(len(txt)):
    a = ord(txt[word])
    s += a
    print(word, txt[word], a)
print(s)

0 t 116
1 h 104
2 i 105
3 s 115
4   32
5 i 105
6 s 115
7   32
8 a 97
9   32
10 b 98
11 o 111
12 o 111
13 k 107
14 . 46
1326

In [5]:
1 # 2

1

In [6]:
1 ! 2

SyntaxError: invalid syntax (<ipython-input-6-6e4fbf6a3469>, line 1)

In [8]:
n= 0
n += True  
n

1

In [11]:
word = 1
word -= 'a'  
word

TypeError: unsupported operand type(s) for -=: 'int' and 'str'

In [10]:
for i in range(len(123) - 1): 
    n

TypeError: object of type 'int' has no len()

In [13]:
wList = ['a','bc','d']
print(wList['bc' + 1])

TypeError: can only concatenate str (not "int") to str

In [5]:
i = 0
while True:
    i += 1
    print(i)
    if i > 0:
        break

1

In [11]:
i = 0
while False:
    print(i)
    i += 1
    if i > 1:
        break

In [7]:
for i in range(0):
    print(i)

In [9]:
for i in range(-1,0):
    print(i)

-1

In [19]:
nList = ['0' * 10 + '1']
i = len(nList) - 1
nList[i]

'00000000001'

In [23]:
mList = []
mList = [0 * 10]
mList

[0]

In [27]:
n = 123
int(str(n)[0]) + int(str(n)[1])

3

In [30]:
word = 'apple'
ord(word[-1]) 
word[-1]

'e'

In [31]:
sum = 0
for y in range(5):
    for x in range(y + 1, 2 * y):
        sum += 1
print(sum)

6

In [36]:
def cap(c):
    if 'a' <= c <= 'z':
        return chr(ord(c)-32)
    else:
        return c

txt = input('input your txt')
s= 0
for c in txt:
    s += ord(cap(c)) - ord('A')
print(s)

input your txt Xyz

72

In [ ]:
cList = []
for i in range(26):
    cList.append(chr(ord('a') + i))
for i in range(26):
    print(cList[i])

In [7]:
import numpy as np
up.random.rand(10)

array([0.04369237, 0.13781833, 0.3850758 , 0.67887966, 0.83535285,
       0.25717313, 0.14160058, 0.51339724, 0.80157782, 0.19113113])

In [1]:
import pandas as pd
pd.Series([1,2],['1','b'])

1    1
b    2
dtype: int64

In [10]:
s = pd.Series(np.random.randn(5), index = ['a','b','c','d','e'])
type(s)
s

a   -0.926428
b    0.210281
c   -0.339414
d   -0.948076
e   -0.054923
dtype: float64

In [11]:
pd.Series(np.random.randn(10))

0    1.684082
1    0.629255
2    0.493369
3    1.643703
4   -0.402344
5   -0.088542
6    0.564147
7   -1.763110
8   -0.438439
9   -0.860762
dtype: float64

In [12]:
d = {'b':1, 'a':0, 'c':2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [13]:
pd.Series(d, index = ['a','b', 'c', 'd']) #NaN stands for not a number: standar missing data marker

a    0.0
b    1.0
c    2.0
d    NaN
dtype: float64

In [14]:
s['a']

-0.9264275317665475

In [15]:
s[:3]

a   -0.926428
b    0.210281
c   -0.339414
dtype: float64

In [16]:
s.median()

-0.3394136257518371

In [17]:
s

a   -0.926428
b    0.210281
c   -0.339414
d   -0.948076
e   -0.054923
dtype: float64

In [19]:
b = s > s.median()
b

a    False
b     True
c    False
d    False
e     True
dtype: bool

In [20]:
s[b]

b    0.210281
e   -0.054923
dtype: float64

In [21]:
s[s > s.median()]

b    0.210281
e   -0.054923
dtype: float64

In [22]:
ss = s[[3,2,1]]
type(ss), ss

(pandas.core.series.Series,
 d   -0.948076
 c   -0.339414
 b    0.210281
 dtype: float64)

In [23]:
s.dtype

dtype('float64')

In [24]:
s.values

array([-0.92642753,  0.21028103, -0.33941363, -0.94807617, -0.05492269])

In [25]:
#series is dictionar-like
s['b'] == s[1]

True

In [26]:
'e' in s, 'f' in s

(True, False)

In [28]:
s.get('f', np.nan)

nan

In [29]:
s

a   -0.926428
b    0.210281
c   -0.339414
d   -0.948076
e   -0.054923
dtype: float64

In [30]:
np.exp(1) #e的一次方

2.718281828459045

In [31]:
np.exp(s[0])

0.39596576172081044

In [32]:
s + s

a   -1.852855
b    0.420562
c   -0.678827
d   -1.896152
e   -0.109845
dtype: float64

In [33]:
s * 2

a   -1.852855
b    0.420562
c   -0.678827
d   -1.896152
e   -0.109845
dtype: float64

In [34]:
np.exp(s)

a    0.395966
b    1.234025
c    0.712188
d    0.387486
e    0.946558
dtype: float64

In [35]:
s[1:] + s

a         NaN
b    0.420562
c   -0.678827
d   -1.896152
e   -0.109845
dtype: float64

In [37]:
a = np.array([1,2,3])
#b = np.array([])
a

array([1, 2, 3])

In [39]:
s = pd.Series(np.random.randn(5), name = 'something')
s

0    0.296601
1   -0.567463
2    0.557396
3   -0.068643
4    0.459736
Name: something, dtype: float64

In [40]:
s2 = s.rename('another name')
s2

0    0.296601
1   -0.567463
2    0.557396
3   -0.068643
4    0.459736
Name: another name, dtype: float64

In [49]:
d = {
    'one':pd.Series([1.,2.,3.], index = ['a','b','c']),
    'two':pd.Series([10.,20.,30.,40.], index = ['a', 'b', 'c', 'd'])
    }

In [50]:
df = pd.DataFrame(d)
df

   one   two
a  1.0  10.0
b  2.0  20.0
c  3.0  30.0
d  NaN  40.0

In [51]:
pd.DataFrame(d, index = ['d','c','b','a'])

   one   two
d  NaN  40.0
c  3.0  30.0
b  2.0  20.0
a  1.0  10.0

In [52]:
df

   one   two
a  1.0  10.0
b  2.0  20.0
c  3.0  30.0
d  NaN  40.0

In [53]:
df.columns

Index(['one', 'two'], dtype='object')

In [54]:
data = np.zeros((2,), dtype[('A','14'),('B', 'f4'), ('C', 'a10')])
data[:] = [(1,2.,'Hello'),(2,3,'world')]
pd.DataFrame(data, index = ['first', 'second'], columns = ['C','B','A'])

NameError: name 'dtype' is not defined

In [55]:
a = np.random.rand(2,3)
df = pd.DataFrame(a, index = ['a','b'], columns = ['aa','bb','cc'])
df

         aa        bb        cc
a  0.998590  0.344932  0.475012
b  0.397208  0.212667  0.241682

In [56]:
df['aa']

a    0.998590
b    0.397208
Name: aa, dtype: float64

In [58]:
type(df['aa'])

pandas.core.series.Series

In [65]:
df['dd'] = df['aa'] * df['cc']
df

         aa        bb        cc  flag        dd
a  0.998590  0.344932  0.475012  True  0.474342
b  0.397208  0.212667  0.241682  True  0.095998

In [62]:
df['flag'] = df['dd'] > 0
df

         aa        bb        cc        dd  flag
a  0.998590  0.344932  0.475012  0.474342  True
b  0.397208  0.212667  0.241682  0.095998  True

In [66]:
del df['dd']
df

         aa        bb        cc  flag
a  0.998590  0.344932  0.475012  True
b  0.397208  0.212667  0.241682  True

In [67]:
df.iloc[1,2]

0.2416821361796545

In [71]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Matplotlib is building the font cache; this may take a moment.

In [73]:
#students = pd.read_cvs('路径')
#students.head / students.tail

In [74]:
#students['Name'].str.lower()